<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Login salesianos aulas, sevilla</title>
<meta charset="utf-8" />
<meta name="description"
	content="Registro y login usuario en mybooks online, sevilla.">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://use.fontawesome.com/releases/v5.0.8/css/all.css"
	rel="stylesheet">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="/style/proyecto.css">

<script type="text/javascript" src="/script/proyecto.js"></script>

<!--<script type="text/javascript" src="../static/script/proyecto.js"></script>

<link rel="stylesheet" type="text/css"
	href="../static/style/proyecto.css"> -->
<link rel="stylesheet" type="text/css" href="/style/buttons.css">
<script type="text/javascript" src="/script/buttons.js"></script>

</head>
<body>
	<header>
		<div class=" container-fluid px-0 mx-0">
		<div th:insert="~{footerSuperior :: footerSuperior}"></div>
	</header>
	<div class="principal">
	
	<div th:insert="~{menu :: menuAdmin}"></div>

		
		

		<div class="row mt-5">
			<div
				class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 table-responsive">
				<div class="row">
				<div class="col-12 col-sm-12 col-md-5 col-lg-5 col-xl-4 pb-3">
					<form class="form-inline my-2 my-lg-0 " role="form" id="formularioBusqueda"  method="POST" th:action="@{'/admin/buscarSala/'}"
							th:object="${salaBusqueda}">
							<input class="form-control mr-sm-2" type="search"
								aria-label="Search"  th:field="*{campoBusqueda}" placeholder="Nombre">
							<button class="btn btn-outline-success my-2 my-sm-0"
								type="submit" th:text="#{misReservas.buscar}"></button>

						</form>
				</div>
				<div class="col-12 col-sm-12 col-md-5 col-lg-5 col-xl-5">
					<a th:href="@{'/admin/aniadirSala'}" 
								class=" bg-white text-success"> <i style="font-size: 38px;" 
								class="text-danger  fas fa-plus-square" id="icon"
								> </i>
	
					</a>
				</div>
				<table id="example" class="table table-bordered">
					<thead class="thead-dark">
						<tr>
							<th th:text="#{misReservas.nombre}"></th>
						
							<th id="acciones" th:text="#{misReservas.detalles}"></th>
						</tr>
					</thead>
					<tbody th:remove="all-but-first">
						<tr th:each="sala : ${listaSalas}">
							<td th:text="${sala.nombre}"></td>




							<td><a href="#" class="fas fa-trash-alt icon"
										th:href="@{'/admin/eliminarSala/'+${sala.id}}"> </a>
										<a href="#" class="fas fa-edit icon"
										th:href="@{'/admin/editarSala/'+${sala.id}}"> </a>
										<a href="#" class="fas fa-info"
										th:href="@{'/admin/calendario/'+${sala.id}}"> </a>
										
										</td>
						</tr>


					</tbody>

				</table>
			</div>
		</div>

		<!--fin menu-->

		<hr />
		<!--FORMULARIO LOGUEO-->

	</div>
	<div th:insert="~{footer :: copy}"></div>


	</div>

</body>
</html>