<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Login salesianos aulas, sevilla</title>
<meta charset="utf-8" />
<meta name="description"
	content="Registro y login usuario en mybooks online, sevilla.">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://use.fontawesome.com/releases/v5.0.8/css/all.css"
	rel="stylesheet">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="/style/proyecto.css">

<script type="text/javascript" src="/script/proyecto.js"></script>

<!--<script type="text/javascript" src="../static/script/proyecto.js"></script>

<link rel="stylesheet" type="text/css"
	href="../static/style/proyecto.css"> -->
<link rel="stylesheet" type="text/css" href="/style/buttons.css">
<script type="text/javascript" src="/script/buttons.js"></script>

</head>
<body>
	<header>
		<div class=" container-fluid px-0 mx-0">
		<div th:insert="~{footerSuperior :: footerSuperior}"></div>
	</header>
	<div class="principal">

		<div th:insert="~{menu :: menuAdmin}"></div>
		<hr />
		<!--FORMULARIO LOGUEO-->

	</div>
	<div th:insert="~{footer :: copy}"></div>


	</div>

</body>
</html>