<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Pie de pagina mybooks</title>
<meta charset="utf-8" />
<meta name="description"
	content="Pie de página  de MyBooks, facebook, twitter e instagran.">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://use.fontawesome.com/releases/v5.0.8/css/all.css"
	rel="stylesheet">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="/style/proyecto.css">

<script type="text/javascript" src="/script/proyecto.js"></script>
<!--<script type="text/javascript" src="../static/script/proyecto.js"></script>  
    
    <link rel="stylesheet" type="text/css" href="../static/style/proyecto.css">-->

</head>
<body>
	<div th:fragment="footerSuperior">
		<div class="row">
			<div id="footerSuperior"
				class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
				<div class="row">
					<div
						class=" offset-md-1 offset-sm-1 offset-md-1 offset-lg-1 offset-xl-1">
						<a href="www.twitter.com"><i
							class="icono fab fa-twitter m-1 ml-5"></i></a> <a
							href="www.facebook.com"><i
							class="icono fab fa-facebook-square m-1"></i></a> <a
							href="www.instagram.com"><i
							class="icono fab fa-instagram m-1"></i></a> <a
							href="https://plus.google.com/discover?hl=es"><i
							class="icono fab fa-google-plus m-1"></i></a>
					</div>
				</div>





			</div>

		</div>

	</div>

</body>
</html>